<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= applicant.name %></title>
</head>

<body>
    <div class="container">

        <h2>Application of <%= applicant.name %></h2>

    </div>
</body>

</html>