<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Job Application App</title>
</head>

<body>
    <div class="container">

        <h2>Applications</h2>

    </div>

    <div class="sort-and-filter">

        <div class="select-header">Sort By</div>
        <select name="sort-results">
            <option value="">---</option>
            <option value="name">Last name</option>
            <option value="date-applied">Date applied</option>
            <option value="experience">Experience</option>
        </select>

        <div class="select-header">Filter</div>
        <select name="filter-results">
            <option value="">---</option>
            <option value="position">Position</option>
            <option value="date-applied">Date applied</option>
            <option value="experience">Experience</option>
        </select>

    </div>

    <div class="names-list">

        <ul>

            <% for(let i = 0; i < persons.length; i++) { %>
            <li>
                <a href="applicant/<%= i %>">
                    <%= persons[i] %>
                </a>
            </li>
            <% } %>

        </ul>

    </div>
</body>

</html>